@use "../../../../global.scss";

.info__block {
  @include global.flex(row, none, none);
  height: 350px;
  position: relative;
  opacity: 0;

  @include global.adaptiv(table) {
    height: auto;
  }

  &:hover .info__block__orientation {
    border-color: #515afd8f;

    @include global.adaptiv(table) {
      width: 100%;
    }
  }

  &__orientation {
    @include global.flex(row, space-between, center);
    background-color: #202020;
    border-radius: 10px;
    width: 90%;
    height: 100%;
    gap: 30px;
    border: 1px solid #202020;
    transition: 0.4s ease-in-out;
    padding-right: 30px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;

    @include global.adaptiv(table) {
      width: 100%;
      flex-direction: column;
      padding: 10px;
    }
  }

  &__text {
    font-size: 15px;
    font-weight: 800;
    max-height: 300px;
    word-wrap: break-word;
    overflow-y: hidden;
    cursor: pointer;

    @include global.adaptiv(table) {
      font-size: 13px;
      text-align: center;
      max-width: 400px;
    }
  }

  &__img {
    width: 650px;
    border-radius: 7px 0 0 7px;
    height: 100%;
    cursor: pointer;

    @include global.adaptiv(table) {
      width: 350px;
      border-radius: 7px;
    }
  }
}

.orientation__reverse {
  flex-direction: row-reverse;
  padding-left: 30px;
  padding-right: 0px;

  @include global.adaptiv(table) {
    flex-direction: column;
    padding: 10px;
  }
}

.img__reverse {
  border-radius: 0px 7px 7px 0px;
}

.block__reverse {
  @include global.flex(row-reverse, none, none);
}

.block__visible__from__left {
  animation: forwards animation__block__visible__from__left 1s ease-in-out;
  left: 0;
  opacity: 1;
}

.block__visible__from__rigth {
  animation: forwards animation__block__visible__from__rigth 1s ease-in-out;
  right: 0;
  opacity: 1;
}

@keyframes animation__block__visible__from__left {
  0% {
    left: -2000px;
  }

  50% {
    opacity: 1;
  }

  100% {
    left: 0;
  }
}

@keyframes animation__block__visible__from__rigth {
  0% {
    right: -2000px;
  }

  50% {
    opacity: 1;
  }

  100% {
    right: 0;
  }
}
