@use "../../global.scss";

.footer {
  @include global.flex(row, space-between, center);
  height: 150px;
  background-color: #101010;
  padding: 10px 30px 10px 10px;
  width: 100%;

  background: #000000;
  --gap: 5em;
  --line: 1px;
  --color: rgba(255, 255, 255, 0.2);

  background-image: linear-gradient(
      -90deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    ),
    linear-gradient(
      0deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    );
  background-size: var(--gap) var(--gap);

  @include global.adaptiv(table) {
    height: auto;
    flex-direction: column;
    gap: 30px;
  }

  &__button {
    @include global.flex(row, center, center);
    border: 3px solid #646cff;
    padding: 10px 25px 10px 25px;
    border-radius: 7px;
    transition: 0.3s ease-in-out;
    text-decoration: none;
    cursor: pointer;

    @include global.adaptiv(table) {
      padding: 5px 15px 5px 15px;
    }

    &:hover {
      background-color: #646cff;
      -webkit-box-shadow: 0px 0px 45px 25px rgba(100, 108, 255, 0.2);
      -moz-box-shadow: 0px 0px 45px 25px rgba(100, 108, 255, 0.2);
      box-shadow: 0px 0px 45px 25px rgba(100, 108, 255, 0.2);
    }

    &__text {
      font-weight: 700;
      color: #fff;
      cursor: pointer;

      @include global.adaptiv(table) {
        font-size: 10px;
      }
    }
  }

  &__links {
    &__block {
      @include global.flex(row, space-between, center);
      width: 50%;
      cursor: pointer;

      @include global.adaptiv(table) {
        flex-direction: column;
        gap: 20px;
      }
    }
  }

  &__logo {
    @include global.flex(column, center, center);
    width: 200px;
    text-decoration: none;
    cursor: pointer;

    @include global.adaptiv(table) {
      width: 170px;
    }

    &:hover .footer__logo__line {
      opacity: 1;
    }

    &__line {
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: #646cff;
      opacity: 0.3;
      transition: 0.3s ease-in-out;
      cursor: pointer;
    }

    &__text {
      font-size: 30px;
      font-weight: 800;
      cursor: pointer;
      color: #fff;

      @include global.adaptiv(table) {
        font-size: 25px;
      }
    }
  }
}
