@use "../../global.scss";

.form {
  width: 40%;
  @include global.flex(column, center, 0);
  gap: 20px;
  background-color: #3a3a3a;
  padding: 30px;
  border-radius: 10px;
  height: 450px;
  border: 1px solid #3a3a3a;
  transition: border-color 0.25s;

  &:hover {
    border-color: #646cff;
  }

  &__selected {
    &__no {
      transition: all 0.4s ease-in-out;
      opacity: 0;
    }

    &__underline {
      opacity: 1;
    }
  }

  &__error {
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    transition: 0.4 ease-in-out;
    display: flex;
    align-self: flex-start;
    opacity: 1;
    transition: opacity 0.5s ease;
    animation: error_visible 1.4s forwards;
  }

  &__inputs {
    @include global.flex(column, center, 0);
    gap: 10px;
    width: 70%;
    margin: 0 auto;
  }

  &__input {
    border: none;
    padding: 15px 25px;
    border-radius: 7px;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;

    &:hover {
      border-color: #646cff;
    }
    &:focus,
    :focus-visible {
      outline: 4px auto -webkit-focus-ring-color;
    }
  }

  &__background {
    @include global.flex(column, center, center);
    background-image: linear-gradient(to top, #212353, #3a3a3a);
    height: 100vh;
    width: 100%;
    background-color: #313131;
    background-image: radial-gradient(
      rgba(255, 255, 255, 0.171) 2px,
      transparent 0
    );
    background-size: 30px 30px;
    background-position: -5px -5px;
    gap: 20px;
  }

  &__block__input {
    @include global.flex(column, center, none);
  }

  &__button {
    width: 30%;
    margin: 0 auto;
  }
}

.switch__underline {
  width: 100%;
  height: 3px;
  margin-top: 3px;
  background-color: #fff;
}

.switch__buttons {
  @include global.flex(row, space-between, center);
  gap: 50px;

  &__block {
    @include global.flex(column, center, center);
  }

  &__button {
    font-size: 20px;
  }
}

.button_selected {
  &-no {
    &:hover .form__selected-no {
      opacity: 1;
      background-color: #646cff;
    }
  }
}

@keyframes error_visible {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
